.table
  table-layout: fixed

  tbody
    td.input
      padding: 0

      input
        border: 0
        border-radius: 0

      select
        border: 0

  .id
    width: 3.5rem
    text-align: center !important
