@import "bulma/sass/utilities/derived-variables"
@import rem_calc

$family-custom: 'Roboto'
$family-cjk: 'Noto Sans TC'
$family-sans-serif: $family-custom, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif, $family-cjk
$family-primary: $family-sans-serif
$family-monospace: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace
$notification-padding-ltr: .75rem 1rem

$sidebar-width: 300px
$background: #f0f0f0
$sidebar-bg: #06283d
$sidebar-fg: #fff
$sidebar-base-padding: 20px
$sidebar-link-height: 40px
$danger: #c00
$red: #c00
$form-field-width: rem-calc(400)
$input-height: rem-calc(38)
$input-border-color: #757575
$input-hover-border-color: darken($link, 5%)
$custom-control-size: 20px
$input-radius: 3px
$control-height: $input-height

$table-row-hover-background-color: darken(white, 4%)
